In [1]:
library(tidyverse)
library(corrr)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
centered_factor <- function(x) {
  f <- as.factor(x)
  n <- nlevels(f)
  
  if (n %% 2 == 1) {
    # Odd number of levels: include 0
    centered <- seq(-(n %/% 2), n %/% 2)
  } else {
    # Even number of levels: exclude 0
    centered <- seq(-n / 2, n / 2)[-((n / 2) + 1)]
  }
  
  centered[as.integer(f)]
}

corrs <- function(df){
    return(df %>% 
               #mutate(across(everything(), centered_factor)) %>% 
               mutate(across(everything(), ~ as.numeric(as.factor(.)))) %>% 
               correlate(quiet=TRUE) %>%
               as_tibble() %>%
               mutate_if(is.numeric, round, 3))
}

# Main task

In [3]:
cb <- read_csv("/Users/Barbu/Documents/Postdoc/Experiments/Pushmi/MEG/Randomization/cb.csv", col_types = cols()) %>%
    filter(trial_type == 'test')

In [4]:
cb %>% 
    mutate(alphabet_order = ifelse(shape_pair == paste0(shape1, "-", shape2), 1, 0)) %>%
    filter(shape_pair == "croix-etoile") %>%
    select(shape_pair, agent, agent_shape, assignment_order, central_shape, outcome,
           lateral_position, movement, correct_key, alphabet_order) %>%
    # mutate(across(everything(), ~ as.numeric(as.factor(.)))) %>%
    # mutate(interaction = (agent_shape - 1) + 2 * (central_shape - 1) + 1) %>%
    # group_by(shape_pair, interaction) %>% count()
    corrs

Warning message in stats::cor(x = x, y = y, use = use, method = method):
“the standard deviation is zero”

   term             shape_pair agent agent_shape assignment_order central_shape
1  shape_pair       NA         NA    NA          NA               NA
2  agent            NA         NA     0           0                0
3  agent_shape      NA          0    NA           0                0
4  assignment_order NA          0     0          NA                0
5  central_shape    NA          0     0           0               NA
6  outcome          NA          0     0           0                0
7  lateral_position NA          0     0           0                0
8  movement         NA          0     0           0                0
9  correct_key      NA          0     0           0                0
10 alphabet_order   NA          0     0           0                0
   outcome lateral_position movement correct_key alphabet_order
1  NA      NA               NA       NA          NA
2   0       0                0        0           0
3   0       0                0        0           0
4   0       0                0        0           0
5   0       0                0        0           0
6  NA       0                0        0           0
7   0      NA                0        0           0
8   0       0               NA        0           0
9   0       0                0       NA           0
10  0       0                0        0          NA

In [5]:
for(i in 1:30) {
    v <- cb %>% 
        filter(subject_id == i) %>%
        select(shape_pair, agent, agent_shape, assignment_order, central_shape, outcome,
            lateral_position, movement, correct_key) %>%
    #     mutate(across(everything(), ~ as.numeric(as.factor(.)))) %>%
    #     mutate(interaction = (outcome - 1) + 2 * (agent_assignment - 1) + 1) %>%
    #     group_by(shape_pair, interaction) %>% count()
        corrs %>%
        pivot_longer(-term) %>%
        filter(!is.na(value)) %>%
        pull(value) %>% max()
    if (v != 0){print(v)}}

In [6]:
prev_trial <- cb %>%
  mutate(
    same_shapes_forward = shape1 == lag(shape1) & shape2 == lag(shape2),
    same_shapes_reverse = shape1 == lag(shape2) & shape2 == lag(shape1),
    same_labels_forward = label1 == lag(label1) & label2 == lag(label2),
    same_labels_reverse = label1 == lag(label2) & label2 == lag(label1),
    diff_shapes = shape1 != lag(shape1) & shape2 != lag(shape2) &
                  shape1 != lag(shape2) & shape2 != lag(shape1),
    diff_labels = label1 != lag(label1) & label2 != lag(label2) &
                  label1 != lag(label2) & label2 != lag(label1),

    prev = case_when(
      (same_shapes_forward & same_labels_forward) |
      (same_shapes_reverse & same_labels_reverse) ~ "no_change",
      (same_shapes_reverse & same_labels_forward) |
      (same_shapes_forward & same_labels_reverse) ~ "swap",
      (same_shapes_forward | same_shapes_reverse) & diff_labels ~ "same_shapes",
      diff_shapes & (same_labels_forward | same_labels_reverse) ~ "same_referents",
      diff_shapes & diff_labels ~ "different",
      
      TRUE ~ NA
    )
  )

prev_trial %>% group_by(prev) %>% filter(!is.na(prev), prev != "no_change") %>% count()

  prev           n
1 different      489
2 same_referents 517
3 same_shapes    460
4 swap           234

In [8]:
prev_trial_mild <- cb %>%
  group_by(subject_id) %>%
  mutate(
    shape1_same = shape1 == lag(shape1) | shape1 == lag(shape2),
    shape2_same = shape2 == lag(shape1) | shape2 == lag(shape2),
    label1_same = label1 == lag(label1) | label1 == lag(label2),
    label2_same = label2 == lag(label1) | label2 == lag(label2),
    shapes_same = shape1_same & shape2_same,
    labels_same = label1_same & label2_same
    )

prev_trial_mild %>% group_by(shape1_same | shape2_same) %>% count()

  shape1_same | shape2_same n
1 FALSE                     2021
2  TRUE                     9469
3    NA                       30

# Localizer

In [21]:
cb_loc <- read_csv("/Users/Barbu/Documents/Postdoc/Experiments/Pushmi/MEG/Randomization/cb.csv", col_types = cols()) %>%
    filter(trial_type %in% c('word', 'image'))

In [29]:
cb_loc %>%
    filter(correct_key == 'right') %>%
    group_by(subject_id, block_number) %>%
    mutate(diff = trial_number - lag(trial_number)) %>%
    #summarize(mean(diff, na.rm = TRUE)) %>%
    group_by(diff) %>%
    count()

   diff n
1   2   352
2   3   340
3   4   328
4   5   274
5   6   252
6   7   218
7   8   193
8   9   181
9  10   158
10 11   118
11 12   103
12 13   113
13 14    98
14 15    70
15 16    63
16 17    62
17 18    51
18 19    57
19 20    43
20 21    39
21 22    21
22 23    29
23 24    28
24 25    33
25 26    17
26 27    17
27 28    20
28 29    16
29 30    11
30 NA    90

In [34]:
cb_loc %>% 
    filter(subject_id == 1) %>%
    group_by(block_number, trial_type, shape1, label1) %>% count()

   block_number trial_type shape1 label1 n
1  0            image      carre  NA      4
2  0            image      cercle NA      4
3  0            image      croix  NA      4
4  0            image      etoile NA      4
5  0            image      louve  NA      4
6  0            image      malle  NA      4
7  0            image      poule  NA      4
8  0            image      tasse  NA      4
9  0            word       NA     carre   4
10 0            word       NA     cercle  4
11 0            word       NA     croix   4
12 0            word       NA     etoile  4
13 0            word       NA     louve   4
14 0            word       NA     malle   4
15 0            word       NA     poule   4
16 0            word       NA     tasse   4
17 1            image      carre  NA     30
18 1            image      cercle NA     30
19 1            image      croix  NA     30
20 1            image      etoile NA     30
21 1            image      louve  NA     30
22 1            image      malle  NA     30
23 1            image      poule  NA     30
24 1            image      tasse  NA     30
25 1            word       NA     carre  30
26 1            word       NA     cercle 30
27 1            word       NA     croix  30
28 1            word       NA     etoile 30
29 1            word       NA     louve  30
30 1            word       NA     malle  30
31 1            word       NA     poule  30
32 1            word       NA     tasse  30
33 2            image      carre  NA     30
34 2            image      cercle NA     30
35 2            image      croix  NA     30
36 2            image      etoile NA     30
37 2            image      louve  NA     30
38 2            image      malle  NA     30
39 2            image      poule  NA     30
40 2            image      tasse  NA     30
41 2            word       NA     carre  30
42 2            word       NA     cercle 30
43 2            word       NA     croix  30
44 2            word       NA     etoile 30
45 2            word       NA     louve  30
46 2            word       NA     malle  30
47 2            word       NA     poule  30
48 2            word       NA     tasse  30